.show-table{
    background-color: rgba(171, 233, 233, 0.666);
    display: flexbox;
    width: fit-content;
    block-size: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: right;
    align-items: stretch;
    margin-top:20px;
}
.input-table{
    display: flexbox;
    background-color: azure;
    width: fit-content;
}
.css-sistem{
    width:20px;
    background-color: yellowgreen;
}
.css-body{
    background-color: azure;
}
.css-cod-produs{
    display: flexbox;
    margin-left: 20px;
    align-content: flex-start;
    justify-self: start;
    max-width: 2px;
}
.css-image{
    margin-right: 4px;
    position: relative;
    top: 6px;
    float: left;
}
.css-first-container{
    margin-bottom: 120px;
}