.show-table{
    background-color: rgba(171, 233, 233, 0.666);
    display: flexbox;
    width: fit-content;
    block-size: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: right;
    align-items: stretch;
    margin-top:20px;
}
.input-table{
    display: flexbox;
    background-color: azure;
    width: fit-content;
}
.css-inputfield{
    max-width: 100px;
}
.css-body{
    background-color: azure;
}
.css-cod-produs{
    display: flexbox;
    margin-left: 20px;
    align-content: flex-start;
    justify-self: start;
    max-width: 2px;
}
.css-image{
    margin-right: 4px;
    position: relative;
    top: 6px;
    float: left;
}
.css-first-container{
    margin-bottom: 220px;
}

.css-flansa-libera{
    max-width: 40px;
}
.css-cantitate{
    max-width: 40px;
}

.css-image{
    height: 200px;
    width: 200px;
}

.css-techspecs{
    margin-bottom: 10px;
    border: none;
    background-color: rgb(145, 99, 245);
    border-radius: 10px;
    color: rgb(249, 249, 249);
    padding: 6px;
}
.css-techspecs:hover{
    background-color: rgb(106, 41, 248); 
}
.css-techspecs:active{
    background-color: rgb(83, 5, 251);
}

.css-additem{
    margin-bottom: 10px;
}

.css-sistem{
    margin-bottom: 10px;
}









table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }